body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(73, 171, 236), rgb(233, 225, 229));
}

  /* Estilos CSS para el contenedor del cuadro de búsqueda */
  .search-container {
    text-align: center; 
    margin-top: 15vi; 
    margin-left: -20.5vi;
}

 /* Estilos CSS para el cuadro de búsqueda */
 #search-input {
    padding: 10px; /* Añadir relleno */
    width: 270px; /* Ancho del cuadro de búsqueda */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid transparent; /* Borde gris */
    border-bottom: 1px solid #cccccc33; /* Borde gris en la parte inferior */
    border-left: 1px solid #cccccc2d; /* Borde gris en el lado izquierdo */
    font-size: 16px; /* Tamaño de fuente */
    height: 1.6vi;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
}